* {
    margin: 0;
    padding: 0;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../../assets/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../assets/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../../assets/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../../assets/Roboto/Roboto-Bold.ttf");
}

body {
    overflow: visible !important;
    background-color: rgba(188, 188, 188, 0.2) !important;
}

.wrap-main {
    max-width: 1366px;
    margin: auto;
    background-color: #fff;

    .font-Light {
        font-family: "Roboto-Light";
    }

    .font-LightItalic {
        font-family: "Roboto-LightItalic";
    }

    .font-Regular {
        font-family: "Roboto-Regular";
    }

    .font-Bold {
        font-family: "Roboto-Bold";
    }

    .font-normal {
        font-size: 14px;
    }

    .font-10 {
        font-size: 10px;
    }

    .font-12 {
        font-size: 12px;
    }

    .font-14 {
        font-size: 14px;
    }

    .font-16 {
        font-size: 16px;
    }

    .font-18 {
        font-size: 18px;
    }

    .font-20 {
        font-size: 20px;
    }

    .font-30 {
        font-size: 30px;
    }

    .limited-line-7 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    .text-link {
        text-decoration: none;
    }

    .limited-line-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .color-black {
        color: #333333;
    }

    .color-gray {
        color: #b3b3b3;
    }

    .btn-primary {
        background-color: #044587 !important;
        border-color: #044587 !important;
    }

    .btn-danger {
        background-color: #a80713 !important;
        border-color: #a80713 !important;
    }

    .btn:focus, .btn.focus {
        outline: 1 !important;
    }

    .color-danger {
        color: #a80713 !important;
    }

    .color-success {
        color: #009245;
    }

    .color-blue {
        color: #044587;
    }

    .color-white {
        color: #fff;
    }

    .bg-white {
        background-color: #fff;
    }

    .title-box-lg {
        border-left: 3px solid;
        color: #044587;
        padding-left: 20px;

        p {
            color: #044587;
        }
    }

    .title-bg-lg {
        color: #044587;
        padding-left: 20px;
        padding: 13px;
        background-color: #b3b3b380;
        padding-left: 30px;

        p {
            color: #044587;
            text-transform: uppercase;
        }
    }

    .max-image {
        width: 100%;
        height: 160px;
    }

    .crop-image {
        width: 60px !important;
        height: 50px;
    }

    .line-center-double {
        position: absolute;
        width: 1px;
        background-color: #b3b3b3;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }
    //owl nav
    .owl-nav {
        margin-top: 0px !important;
        position: absolute;
        top: -60px;
        width: 35px;
        right: 0;
        justify-content: space-between;
        align-items: center;
        display: flex !important;

        &.disabled {
            display: flex !important;
        }

        .owl-prev,
        .owl-next {
            outline: 0;

            i {
                font-size: 30px;
                color: #b3b3b3;
            }
        }
    }

    .box-title_main_blue {
        margin: 30px 0px 20px;
        padding: 10px 10px;
        background-color: #044587;
        border-radius: 5px;
    }

    .boxSPBaoCaoViPham {
        .boxSlideSpBaoCaoViPham {
            .owl-nav {
                top: -60px;
            }
        }
    }
    //header all page
    .header-page {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 0 15px;

        .header_box-top {
            border-bottom: 1px solid #fff;
            padding: 0 0 10px;
        }

        .col-left {
            width: 150px;
        }

        .col-right {
            width: calc(100% - 18%);
            // margin-top: auto;
            // margin-bottom: auto;
            // margin-left: auto;
            margin: auto;
        }

        .header_box-center {
            margin-top: 10px;

            .title-style-bold {
                text-transform: uppercase;
            }

            .title_box-left {
                font-size: 26px;
                font-family: 'Roboto-Regular';
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    //nav-menu
    .nav-menu {
        .navbar-nav {
            position: relative;

            &::after {
                content: "";
                width: 3px;
                height: 100%;
                background-color: #fff;
                right: 3px;
                top: 0;
                position: absolute;
            }
        }

        a.font-Bold {
            font-size: 14px;
            color: black;
        }

        .box-item-nav {
            position: relative;

            &:hover .menu-child {
                display: block;
            }

            .menu-child {
                width: 200px;
                border-radius: 5px;
                position: absolute;
                z-index: 1;
                background-color: #b21f2dcc;
                top: 95%;
                display: none;

                &::after {
                    content: "";
                    position: absolute;
                    border-left: 10px solid #b21f2dcc;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                    -webkit-transform: rotate(270deg);
                    -ms-transform: rotate(270deg);
                    transform: rotate(270deg);
                    top: -20px;
                    left: 23px;
                }
                // &:hover .list_menu-child {
                //   display: block;
                // }
                .list_menu-child {
                    list-style-type: none;
                    position: relative;
                    // display: none;
                    &::after {
                        content: "";
                        position: absolute;
                        width: calc(100% - 20px);
                        height: 1px;
                        background-color: #b21f2d;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }

                    li {
                        padding: 10px 10px;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            width: calc(100% - 20px);
                            height: 1px;
                            background-color: #ffffff;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }

                        &:hover {
                            background-color: #ffffff33;
                        }

                        a,
                        p {
                            text-decoration: none;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: 'Roboto-Regular';
                            margin: 0;
                        }

                        &:hover .menu-lever-child {
                            display: block;
                        }

                        .menu-lever-child {
                            display: none;
                            position: absolute;
                            top: 0;
                            background-color: #b21f2dcc;
                            width: 100%;
                            list-style-type: none;
                            right: -100%;
                            border-radius: 5px;

                            &::after {
                                content: "";
                                position: absolute;
                                width: calc(100% - 20px);
                                height: 1px;
                                background-color: #b21f2d;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }

                            li {
                                a {
                                    text-decoration: none;
                                    color: #fff;
                                    text-transform: uppercase;
                                    font-family: 'Roboto-Regular';
                                    margin: 0;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            &::after {
                position: absolute;
                content: "";
                right: 3px;
                top: 0;
                width: 3px;
                background-color: black;
                bottom: 0;
                margin: auto;
                font-weight: bold;
                font-size: 16px;
                height: 12px;
            }
        }

        .icon-search_box {
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    //box thong ke
    .boxThongKe {
        .titleMainBox {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                width: 60%;
                background-color: #044587;
                height: 3px;
            }

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                width: 60%;
                background-color: #044587;
                height: 3px;
            }

            p {
                padding: 10px 0;
            }
        }

        .box-chart {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 100%;
                background-color: #b3b3b3;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
            }

            .box-char-left,
            .box-char-right {
                flex: 1
            }

            .box-char-right {
                margin-left: 30px;
            }

            .box-char-left {
                margin-right: 30px;
                position: relative;

                &::after {
                    position: absolute;
                    content: "Số vụ";
                    font-size: 16px;
                    color: #b3b3b3;
                    top: 35px;
                    left: 0px;
                    font-family: "Roboto-Regular";
                }
            }
        }

        .mainBoxSlideThongKe {
            padding: 30px 30px;
            position: relative;
            min-height: 107px;

            .boxSlideThongKe {
                position: relative;

                &:hover .owl-prev {
                    max-height: 97px;
                    margin-top: auto;
                }

                &:hover .owl-next {
                    max-height: 97px;
                    margin-top: auto;
                }

                .owl-stage-outer {
                    border-radius: 10px;
                    border-right: 1px solid #fff;

                    &:hover {
                        padding-top: 279px;
                        margin-top: -279px;

                        .itemBoxSlideThongKe {
                            &:hover .boxHoverItemSlideThongKe {
                                display: block;
                                transition: all ease-out 1s;
                            }
                        }
                    }
                }

                .owl-nav {
                    position: initial;
                    top: initial;
                    width: 100%;
                    right: initial;
                    margin-top: 0px !important;

                    .owl-prev {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                    }

                    .owl-next {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                }

                .itemBoxSlideThongKe {
                    position: relative;
                    padding: 10px;
                    border-right: 1px solid #bcbcbc;
                    padding-left: 30px;

                    .boxHoverItemSlideThongKe {
                        background-color: #a80713e6;
                        position: absolute;
                        width: 100%;
                        top: -279px;
                        min-height: 220px;
                        left: 0;
                        border-radius: 5px;
                        display: none;

                        &::after {
                            position: absolute;
                            content: "";
                            bottom: -8px;
                            left: 30px;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 8px solid #a80713;
                            transform: rotate(180deg);
                        }
                    }

                    .title-top {
                        white-space: pre-line;
                    }
                }
            }
        }
    }
    //form dang ky va dang nhap
    .box_dangky-dangnhap {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 3px solid #a80713;

        &::after {
            // content: "";
            // width: 1px;
            // height: 80%;
            // margin: auto;
            // left: 0;
            // right: 0;
            // top: 0;
            // background-color: #bcbcbc;
            // position: absolute;
            // bottom: 0;
        }

        .col-left {
            margin-left: auto;

            .from-inp {
                margin-bottom: 15px;
            }
        }

        .col-right {
            margin-right: auto;
        }
    }
    //component doanh nghiep vi pham
    .boxDoanhNghiepViPham {
        background-color: #f4f6f9;
        padding: 60px 0;

        .boxSlideDoanhNghiepViPham {
            position: relative;

            &::after {
                content: "";
                width: 1px;
                background-color: #f4f6f9;
                right: 0;
                height: 100%;
                top: 0;
                position: absolute;
            }

            .boxItemDoanhNghiepViPham {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    background-color: rgba(179, 179, 179, 0.3);
                    height: 100%;
                    top: 0;
                    left: -10px;
                }
            }
        }
    }
    //component sp bao cao vi pham va dia ban xay ra vi pham
    .boxMainRow {
        padding: 45px 0;
        position: relative;

        &::after {
            content: "";
            width: 1110px;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #b3b3b34d;
            position: absolute;
            right: 0;
            margin: auto;
        }

        .col-left {
            margin-right: auto;
        }

        .col-right {
            margin-left: auto;
        }
    }
    // component vu viec vi pham va hoi dap
    .boxVuViecViPhamVaHoiDap {
        .col-right {
            margin: 60px 0;
        }

        .boxSildeHoiDap {
            border-top: 1px solid #b3b3b3;

            .owl-nav {
                top: -41px !important;
                right: 30px !important;
                margin-top: 0px !important;
            }

            .bg-itemBoxSildeHoiDap {
                background-color: #f4f6f9;
                padding: 30px;
            }
        }
    }
    //component doanh nghiep tich cuc
    .boxDoanhNghiepTichCuc {
        &.boxMainRow {
            &::after {
                content: "";
                width: 1110px;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #a80713;
                position: absolute;
                right: 0;
                margin: auto;
            }
        }

        .boxSlideDoanhNghiepTichCuc {
            .itemSlideDoanhNghiepTichCuc {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    background-color: #b3b3b34d;
                    height: 100%;
                    top: 0;
                    left: -20px;
                }
            }
        }
    }
    // component box slide doi tac
    .boxSlideDoiTac {
        .slideDoiTac {
            padding: 0 30px;

            .owl-nav {
                position: initial;
                top: initial;
                width: 100%;
                right: initial;
                margin-top: 0px !important;

                .owl-prev {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }

                .owl-next {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            .itemSlideDoiTac {
                width: 100%;
                height: 166px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    padding: 20px;
                }
            }
        }
    }
    //footer
    footer {
        background-color: #044587;
        min-height: 100px;

        .box-main_footer {
            padding: 30px 0 66px;

            .itemBoxFooter {
                min-height: 50px;
                width: 100%;

                &.box-lg {
                    flex: 3
                }

                &.box-medium {
                    flex: 3
                }

                &.box-sm {
                    flex: 1;
                }

                .box-items-full {
                    padding: 0 15px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }
    }

    .font-26 {
        font-size: 26px;
    }

    .font-20 {
        font-size: 20px;
    }

    .color-gray {
        color: #bcbcbc;
    }

    .wrap-main-tin-tuc {
        padding: 20px 0 50px;

        .col-left {
            //itemNewsTop
            .itemNewsTop {
                display: flex;
                padding: 30px 0 20px;
                border-bottom: 1px solid #bcbcbc82;

                .col-left {
                    flex: 1;

                    .title-top {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 22px;
                        /* max-height: 32px; */
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }

                    min-height: 100px;

                    .tieu-de {
                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            line-height: 22px;
                            /* max-height: 32px; */
                            -webkit-line-clamp: 6;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .solical {
                        margin-top: 50px;

                        .item-solical {
                            flex: 1;
                        }
                    }
                }

                .col-right {
                    flex: 1.5;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 20px;

                    img {
                        min-height: 350px;
                        max-height: 350px;
                    }
                }
            }
            //itemNewsLater
            .itemNewsLater {
                min-height: 50px;
                padding: 20px 0;
                display: flex;
                border-bottom: 1px solid #bcbcbc;

                .col-left {
                    flex: 1;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 20px;
                }

                .col-right {
                    flex: 3;

                    .content_column-right {
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 22px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            //pagination-page
            .pagination-page {
                padding: 20px 0;
                border-bottom: 1px solid #bcbcbc;
            }
            //box_SpBaoCaoViPham
            .box_SpBaoCaoViPham {
                display: flex;
                flex-wrap: wrap;
                padding: 30px 0;

                .item-SanPhamBaoCao {
                    width: calc(100% / 4 - 10px);
                    padding: 5px;
                }
            }
        }

        .col-right {
            .box-title_main {
                margin: 30px 0px 20px;
                padding: 10px 10px;
                background-color: #bcbcbc82;
                border-radius: 5px;
            }

            .box_traoDoiMoiNhat {
                .newsItem {
                    padding-bottom: 20px;
                    border-bottom: 1px solid #bcbcbc82;
                }
            }

            .box-ket-noi {
                .boxMainUser {
                    border-bottom: 1px solid #bcbcbc82;

                    .userBox {
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }
            }

            .box-coTheBanQuanTam {
                .boxMainUser {
                    border-bottom: 1px solid #bcbcbc82;
                    padding-bottom: 20px;

                    .userBox {
                        width: 50%;
                    }
                }
            }

            .box-suKienSapDienRa {
                padding: 10px 0;

                .item-suKienSapDienRa {
                    .col-left {
                        width: 40%;
                    }

                    .col-right {
                        width: 50%;
                    }
                }
            }
        }
    }
    // nhận diện thương hiệu
}
//Style danh sách tin tức
// content main wrap
//Style chi tiet tin tuc
.wrap-main-tin-tuc-chi-tiet {
    padding: 20px 0 47px;
    text-align:justify;
    .font-10 {
        font-size: 10px;
    }

    .date_solical {
        .col-solical {
            .item-solical {
                width: 70px;
            }
        }
    }

    .box-content_news {
        .content-img-lg {
            width: 100%;
            min-height: 520px;
            max-height: 520px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .box-comment-user {
        margin-top: 20px;
        padding: 40px 0;
        border-top: 1px solid #bcbcbc82;
        border-bottom: 1px solid #bcbcbc82;

        .box-comment_bottom {
            border: 1px solid #828282bc;
            border-radius: 5px;
            padding: 7px;
            min-height: 80px;

            .box-comment {
                textarea {
                    border: 0px;
                    padding: 15px;

                    &:focus {
                        border: none;
                        overflow: auto;
                        outline: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        resize: none;
                    }
                }
            }
        }
    }

    .box-list-commnent-user {
        .box-list-content-comment {
            .binh-luan-cha {
                .content-binh-luan {
                    margin-left: 35px;
                    /*min-height: 80px;*/
                    border-radius: 5px;
                    background-color: #cccccc36;
                }
            }

            .binh-luan-con {
                margin-left: 35px;
                margin-top: 20px;

                .content-binh-luan {
                    margin-left: 35px;
                    /*min-height: 80px;*/
                    border-radius: 5px;
                    background-color: #cccccc36;
                }
            }
        }

        .box-see-more {
            margin-left: 35px;
        }
    }

    .box-tin-lien-quan {
        margin: 50px 0 0;

        .list-tin-lien-quan {
            .item-tin {
                width: calc(100% / 4 - 15px);
                min-height: 30px;

                img {
                    min-height: 160px;
                }

                .title-tin {
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 18px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-align: justify;
                }
            }
        }
    }
}
//end style chi tiet tin tuc
.donvi-tochuc p::before {
    color: #e30616;
    content: "●";
    margin-right: 5px;
}

.icon-thamdu :hover, .icon-quantam :hover, .icon-chiase :hover, .icon-action :hover, .icon-active {
    color: #044587;
    cursor: pointer;
}

//Style hỏi đáp
input {
    &:focus {
        /*box-shadow: 0 0 0 0 !important;
        border-color: none;
        border: none;*/
    }
}

.col-left_danh-sach-hoi-dap {
    overflow: hidden;

    .box-filter-dsachHoiDap {
        padding: 30px 0 20px;
        border-bottom: 3px solid #044587;

        .filter-dsachHoiDap-top {
            .col-right {
                position: relative;

                input.form-control {
                    &:focus {
                        box-shadow: 0 0 0 0 !important;
                    }
                }
            }
        }

        .filter-dsachHoiDap-bottom {
            .item-filter {
                width: calc(100% / 5);
            }
        }
    }

    .box-list-commnent-user {
        .box-list-content-comment {
            padding: 10px 0 30px;
            border-bottom: 3px solid #044587;

            &.box-ket-qua-search {
                border-bottom: 1px solid #bcbcbc82 !important;
            }

            .binh-luan-cha {
                .box-binh-luan-cha {
                    position: relative;



                    .btn-setting {

                        .icon-setting {
                            position: absolute;
                            right: 0;
                        }

                        .list-menu {
                            border: 1px solid #bcbcbc82;
                            padding-right: 30px;
                            border-radius: 5px;
                            position: absolute;
                            right: -100%;
                            top: 0;
                            transition: all ease-in-out 1s;

                            &.active {
                                right: -10px;
                                background-color: #bcbcbc82;
                            }


                            ul {
                                position: relative;

                                &::after {
                                    content: "";
                                    width: 1px;
                                    height: 100%;
                                    right: 0px;
                                    background-color: #fff;
                                    position: absolute
                                }

                                li {
                                    padding: 0 10px;
                                    position: relative;

                                    &::after {
                                        content: "";
                                        width: 1px;
                                        height: 60%;
                                        right: 0px;
                                        background-color: #ccc;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .box-comment {
                padding: 5px 5px;
                border: 1px solid #bcbcbc82;
                margin-left: 35px;
                border-radius: 5px;
                margin-top: 20px;
            }
        }
    }

    .pagination {
        padding: 20px 0 30px;
    }

    
}
//End style hỏi đáp
.su-kien .slick-slider {
    margin: 0 !important;
}






.color-gray {
    color: #808080;
}

.wrap-main-nhanDienThuongHieu {
    padding: 20px 0 50px;

    .box-filter-main {
        padding: 10px 0 10px;
        border-bottom: 3px solid #044587;

        .box-filter-main_top {

            .col-left,
            .col-right {
                flex: 1;
            }

            .col-left {
                margin-right: 18px;
                position: relative;

                .inp-search {
                    height: 35px;
                }

                .btn-search {
                    position: absolute;
                    bottom: 7px;
                    right: 13px;
                    margin: auto;
                }
            }

            .col-right {
                margin-left: 18px;
            }
        }

        .box-filter-main_bottom {
            margin-top: 20px;

            .col-left,
            .col-right {
                flex: 1
            }

            .col-left {
                margin-right: 18px;
            }

            .col-right {
                margin-left: 18px;
            }
        }
    }

    .box-list-san-pham {
        padding: 10px 0;

        .pagination-page {
            border-top: 1px solid #bcbcbc82;
            border-bottom: 1px solid #bcbcbc82;
        }

        .item-sanPham {
            width: calc(100% / 2 - 10px);
            min-height: 30px;
            margin-top: 30px;

            .col-top {
            }

            .col-bottom {
                .content-item {
                    p {
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        // line-height: 22px;
                        /* max-height: 32px; */
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }

    .box_SpBaoCaoViPham {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;

        .item-SanPhamBaoCao {
            width: calc(100% / 4 - 10px);
            padding: 5px;
        }
    }

    .boxSPBaoCaoViPham {
        padding: 30px 0;

        .boxSlideSpBaoCaoViPham {
            .owl-nav {
                right: 10px;
                top: -46px;
            }
        }

        .item {
            width: calc(100% / 4 - 20px);
        }
    }

    .box-thuong-hieu-noi-bat-va-xu-huong-tim-kiem {
        padding: 20px 0;
    }

    .box-thuong-hieu-noi-bat-va-xu-huong-tim-kiem {
        position: relative;

        &::after {
            content: "";
            width: 1px;
            position: absolute;
            height: 100%;
            background-color: #bcbcbc82;
            left: 0;
            right: 0;
            margin: auto;
        }

        .box-thuong-hieu-noi-bat,
        .box-xu-huong-tim-kiem {
            width: 50%;
            min-height: 50px;
        }
    }

    .box-coThebanQuanTam {
        padding: 40px 0;

        .owl-nav {
            top: -42px;
        }
    }


    .box_ThuongHieuNB {
        padding: 20px 0;
        border-bottom: 1px solid #bcbcbc82;
        border-top: 1px solid #bcbcbc82;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 75%;
            background-color: #bcbcbc82;
            left: 0;
            right: -30px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .col-left {
            position: relative;
            margin-right: 30px;

            .owl-nav {
                right: 10px;
                top: -46px;
            }
        }

        .col-right {
            position: relative;

            .owl-nav {
                right: 10px;
                top: -46px;
            }
        }
    }
}
.grid-pagination .pagination .select-page .page-link {
    height: 38px;
}
/// Tìm kiếm
.wrap-main-timKiem {
    padding: 20px 0 50px;

    .box-filter-main {
        padding: 10px 0 10px;
        border-bottom: 3px solid #044587;

        .box-filter-main_top {

            .col-left,
            .col-right {
                flex: 1;
            }

            .col-left {
                margin-right: 18px;
                position: relative;

                .inp-search {
                    height: 35px;
                }

                .btn-search {
                    position: absolute;
                    bottom: 7px;
                    right: 13px;
                    margin: auto;
                }
            }

            .col-right {
                margin-left: 18px;
            }
        }

        .box-filter-main_bottom {
            margin-top: 20px;

            .col-left,
            .col-right {
                flex: 1
            }

            .col-left {
                margin-right: 18px;
            }

            .col-right {
                margin-left: 18px;
            }
        }
    }

    .box-list-san-pham {
        padding: 10px 0;

        .pagination {
            margin: 15px 0;
            padding: 15px 0;
            border-top: 1px solid #bcbcbc82;
            border-bottom: 1px solid #bcbcbc82;
        }

        .item-sanPham {
            width: calc(100% / 2 - 10px);
            min-height: 30px;
            margin-top: 30px;

            .col-top {
            }

            .col-bottom {
                .content-item {
                    p {
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        // line-height: 22px;
                        /* max-height: 32px; */
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        .itemTimKiem {
            min-height: 50px;
            padding: 20px 0;
            display: flex;
            border-bottom: 1px solid #bcbcbc;

            .col-left {
                flex: 1;
                border-radius: 5px;
                overflow: hidden;
                margin-right: 20px;
            }

            .col-right {
                flex: 3;

                .content_column-right {
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 22px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    .boxSPBaoCaoViPham {
        padding: 10px 0;

        .item {
            width: calc(100% / 4 - 20px);
        }
    }

    .box-thuong-hieu-noi-bat-va-xu-huong-tim-kiem {
        padding: 20px 0;
    }

    .box-thuong-hieu-noi-bat-va-xu-huong-tim-kiem {
        position: relative;

        &::after {
            content: "";
            width: 1px;
            position: absolute;
            height: 100%;
            background-color: #bcbcbc82;
            left: 0;
            right: 0;
            margin: auto;
        }

        .box-thuong-hieu-noi-bat,
        .box-xu-huong-tim-kiem {
            width: 50%;
            min-height: 50px;
        }
    }

    .box-coThebanQuanTam {
        padding: 40px 0;

        .owl-nav {
            top: -42px;
        }
    }
}
.wrap-main-CTSP {
    padding: 20px 0 47px;
}
.wrap-main-CTSP .box_description-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap-main-CTSP .box_description-item .col-left {
    width: 60%;
}

.wrap-main-CTSP .box_description-item .col-right {
    width: 40%;
}

.wrap-main-CTSP .box-images-product {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap-main-CTSP .box-images-product .col-left {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrap-main-CTSP .box-images-product .col-left .item-images-thumb {
    height: calc(100% / 4 - 15px);
    max-height:85px;
    border: 2px solid #bcbcbc;
    padding: 10px 10px;
    border-radius: 10px;
    cursor:pointer;
}

.wrap-main-CTSP .box-images-product .col-left .item-images-thumb.active {
    border-color: #04458782;
}

.wrap-main-CTSP .box-images-product .col-left .item-images-thumb:hover {
    background-color: #bcbcbc1a;
}

.wrap-main-CTSP .box-images-product .col-right {
    width: 85%;
}

.wrap-main-CTSP .box-mo-ta-sp {
    margin-top: 20px;
    border-top: 1px solid #bcbcbc82;
    border-bottom: 1px solid #bcbcbc82;
    padding: 20px 0;
}

.wrap-main-CTSP .box-mo-ta-sp .col-left {
    width: 40%;
}

.wrap-main-CTSP .box-mo-ta-sp-chi-tiet, .wrap-main-CTSP .box-list-commnent-user {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbcbc82;
}


.wrap-main-CTSP .box-mo-ta-sp-chi-tiet .content-chiTietSp {
    margin-top: 20px;
}
.is-current{
    background-color:red;
}
.react-dropdown-tree-select .dropdown .dropdown-content{
    z-index:99;
}
.row-config-system {
    padding: 5px;
    margin-left: 7px;
    background-color: #ccc;
    margin-top: 10px;
}
a.text-choosed{
    color: red;
}
span.text-choosed{
    background-color: red;
}
