﻿@media(max-width: 767.98px) {
    .wrap-main {
        .font-30 {
            font-size: 26px;
        }

        .nav-menu {
            background: -webkit-linear-gradient(bottom, #02326f, #044379);

            .navbar-toggler {
                background-color: rgba(4, 69, 135, 1);
            }

            ul.navbar-nav {
                li {
                    margin-right: auto;
                    width: 100%;
                }
            }
        }

        .boxThongKe {
            .box-chart {
                &::after {
                    display: none;
                }

                .option-top {
                    width: 100% !important;
                }

                .box-double-chart {
                    flex-wrap: wrap;
                    flex-direction: column;

                    .box-char-left,
                    .box-char-right {
                        margin: 0;
                        flex-grow: 1;
                        margin-top: 10px;

                        .title-top {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .mainBoxSlideThongKe {
                padding: 15px 0;

                .boxSlideThongKe {
                    .itemBoxSlideThongKe {
                        border: 0px;
                        padding: 0 20px;

                        .title-top {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .boxSPBaoCaoViPham {
            margin-bottom: 25px;
        }

        .navbar-toggler-icon {
            color: black;
        }

        .header-page {
            padding: 10px 0 10px;

            .header_box-top {
                padding: 0 0 10px;
            }

            .header_box-center {
                margin-top: 0px;
            }

            .col-left {
                width: 100%;
            }
        }

        .box_dangky-dangnhap {
            min-height: 400px;

            .col-left {
                .from-inp {
                    margin-bottom: 10px;

                    .box-inp {
                        width: 100% !important;
                    }
                }
            }

            .col-right {
                .box-dang-ky {
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }

        .boxMainRow {
            &::after {
                content: "";
                width: 100% !important;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #b3b3b34d;
                position: absolute;
                right: 0;
                margin: auto;
            }
        }

        .boxDoanhNghiepTichCuc.boxMainRow {
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #a80713;
                position: absolute;
                right: 0;
                margin: auto;
            }
        }

        footer {
            .box-main_footer {
                flex-wrap: wrap;
                padding: 20px 0;

                .itemBoxFooter {
                    .box-items-full {
                        padding: 0 !important;
                    }
                }

                .box-sm-top,
                .box-sm-bottom {
                    flex-basis: auto !important;
                    margin: 10px 0;
                    padding: 10px 0;
                }

                .box-sm-double {
                    flex: 1;
                }
            }
        }
    }

    // tin tuc chi tiet
    .wrap-main-tin-tuc-chi-tiet {
        .box-tin-lien-quan {
            .list-tin-lien-quan {
                flex-wrap: wrap;

                .item-tin {
                    width: 100% !important;

                    img {
                        min-height: auto !important;
                        width: 100% !important;
                    }
                }
            }
        }

        &.dSach-hoi-dap {
            .box-filter-dsachHoiDap {
                .filter-dsachHoiDap-top {
                    flex-wrap: wrap;

                    button,
                    .col-right {
                        width: 100% !important;
                        margin-right: 0 !important
                    }

                    .col-right {
                        margin-top: 20px;
                        margin-left: 0 !important
                    }
                }

                .filter-dsachHoiDap-bottom {
                    .field_search {
                        flex-wrap: wrap;

                        .item-filter:first-child {
                            width: 100%;
                        }

                        .item-filter {
                            width: 50%;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .box-list-commnent-user {
                .box-list-content-comment {
                    .binh-luan-cha {
                        .btn-setting {
                            .list-menu {
                                width: 50%;

                                &.active {
                                    background-color: #bcbcbc;
                                }

                                ul {
                                    flex-wrap: wrap;

                                    &::after {
                                        display: none;
                                    }

                                    li {
                                        width: 100%;
                                        border-bottom: 1px solid #fff;

                                        a {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .binh-luan-con {
                        .box-see-more {
                            flex-wrap: wrap;
                        }

                        .feedBack-box {
                            margin-left: auto;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }


    //danh sach tin tuc
    .wrap-main-tin-tuc {
        .col-left {
            .itemNewsTop {

                .col-right {
                    margin-left: 0px !important;
                    order: 2;
                }

                .col-left {
                    order: 1;
                }
            }

            .itemNewsLater {
                flex-direction: column;
            }

            .box_SpBaoCaoViPham {
                .item-SanPhamBaoCao {
                    width: calc(100% / 2 - 10px);
                }
            }
        }
    }
    .wrap-main-nhanDienThuongHieu {
        .box-filter-main {

            .box-filter-main_top,
            .box-filter-main_bottom {
                flex-wrap: wrap;

                .col-left,
                .col-right {
                    margin-left: 0px;
                    margin-right: 0px;
                }

                .col-right {
                    margin-top: 20px;
                }
            }

            .box-filter-main_bottom {
                .col-right {
                    margin-top: 10px;
                }
            }

            .boxBoLocNangCao {
                margin-top: 20px !important;
            }
        }

        .box-list-san-pham {
            .item-sanPham {
                width: 100% !important;
            }
        }

        .boxSPBaoCaoViPham {
            .item {
                width: 190% !important;
                margin-top: 20px;
            }
        }

        .box-thuong-hieu-noi-bat-va-xu-huong-tim-kiem {
            flex-wrap: wrap;

            .boxThuongHieuNoiBat {
                width: 100% !important;
                padding-bottom: 10px;
                border-bottom: 1px solid #bcbcbc;
            }

            .box-xu-huong-tim-kiem {
                margin-left: 0px !important;
                width: 100% !important;
                padding-top: 10px;
            }

            &::after {
                display: none;
            }
        }
    }
}
