.action-delete-item{
    display: none;
}
.sttInputText{
    /*width: 55%;*/
    text-align: center;
}
#postsList .bx{
    font-size: 1rem;
}
#postsList .badge{
    padding: 0.22em 0.393em;
}
#postsList a.badge:hover {
    color: aliceblue;
}
#tab_address th{
    padding: 10px;
    margin: 0;
    text-transform: none;
}
#tab_address td{
    padding: 4px;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}

/** Start daterangepicker */
.daterangepicker.dropdown-menu {
    font-size:13px;
    padding:0;
    overflow:hidden
}
.daterangepicker.picker_1 {
    background:#34495E;
    color:#ECF0F1
}
.daterangepicker.picker_1 table.table-condensed thead tr:first-child {
    background:#1ABB9C
}
.daterangepicker table.table-condensed thead tr:first-child th {
    line-height:28px;
    text-align:center
}
.daterangepicker.picker_1 table.table-condensed thead tr {
    background:#213345
}
.daterangepicker table.table-condensed thead tr {
    line-height:14px
}
.daterangepicker table.table-condensed tbody tr:first-child td {
    padding-top:10px
}
.daterangepicker table.table-condensed th:first-child, .daterangepicker table.table-condensed td:first-child {
    padding-left:12px
}
.daterangepicker table.table-condensed th:last-child, .daterangepicker table.table-condensed td:last-child {
    padding-right:12px
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding:5px 7px;
    text-align:center
}
.daterangepicker table.table-condensed tbody tr:last-child td {
    padding-bottom:10px
}
.daterangepicker.picker_2 table.table-condensed thead tr:first-child {
    color:inherit
}
.daterangepicker.picker_2 table.table-condensed thead tr {
    color:#1ABB9C
}
.daterangepicker.picker_3 table.table-condensed thead tr:first-child {
    background:#1ABB9C;
    color:#ECF0F1
}
.daterangepicker.picker_4 table.table-condensed tbody td {
    background:#ECF0F1;
    color:#34495E;
    border:1px solid #fff;
    padding:4px 7px
}
.daterangepicker.picker_4 table.table-condensed tbody td.active {
    background:#536A7F;
    color:#fff
}
.daterangepicker.picker_4 table.table-condensed thead tr:first-child {
    background:#34495E;
    color:#ECF0F1
}
.xdisplay_input {
    width:240px;
    overflow:hidden;
    padding:0
}
.xdisplay {
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ccc;
    margin-bottom:20px;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:4px;
    width:230px;
    overflow:hidden;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.175)
}
.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
    float:right
}
.daterangepicker table {
    width:100%;
    margin:0
}
.daterangepicker td, .daterangepicker th {
    text-align:center;
    width:20px;
    height:20px;
    cursor:pointer;
    white-space:nowrap
}
.daterangepicker td.off {
    color:#999
}
.daterangepicker td.disabled {
    color:#999
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background:#eee;
    color:#34495E
}
.daterangepicker td.in-range {
    background:#E4E7EA;
    border-radius:0
}
.daterangepicker td.available+td.start-date {
    border-radius:4px 0 0 4px
}
.daterangepicker td.in-range+td.end-date {
    border-radius:0 4px 4px 0
}
.daterangepicker td.start-date.end-date {
    border-radius:4px !important
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color:#536A7F;
    color:#fff
}
.daterangepicker td.week, .daterangepicker th.week {
    font-size:80%;
    color:#ccc
}
.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size:12px;
    padding:1px;
    height:auto;
    margin:0;
    cursor:default;
    height:30px;
    border:1px solid #ADB2B5;
    line-height:30px;
    border-radius:0px !important
}
.daterangepicker select.monthselect {
    margin-right:2%;
    width:56%
}
.daterangepicker select.yearselect {
    width:40%
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
    width:50px;
    margin-bottom:0
}
.daterangepicker_start_input {
    float:left
}
.daterangepicker_end_input {
    float:left;
    padding-left:11px
}
.daterangepicker th.month {
    width:auto
}
.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
    color:#333;
    display:block;
    font-size:11px;
    font-weight:normal;
    height:20px;
    line-height:20px;
    margin-bottom:2px;
    text-shadow:#fff 1px 1px 0px;
    text-transform:uppercase;
    width:74px
}
.daterangepicker .ranges input {
    font-size:11px
}
.daterangepicker .ranges .input-mini {
    background-color:#eee;
    border:1px solid #ccc;
    border-radius:4px;
    color:#555;
    display:block;
    font-size:11px;
    height:30px;
    line-height:30px;
    vertical-align:middle;
    margin:0 0 10px 0;
    padding:0 6px;
    width:74px
}
.daterangepicker .ranges .input-mini:hover {
    cursor:pointer
}
.daterangepicker .ranges ul {
    list-style:none;
    margin:0;
    padding:0
}
.daterangepicker .ranges li {
    font-size:13px;
    background:#f5f5f5;
    border:1px solid #f5f5f5;
    color:#536A7F;
    padding:3px 12px;
    margin-bottom:8px;
    border-radius:5px;
    cursor:pointer
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background:#536A7F;
    border:1px solid #536A7F;
    color:#fff
}
.daterangepicker .calendar {
    display:none;
    max-width:270px
}
.daterangepicker.show-calendar .calendar {
    display:block
}
.daterangepicker .calendar.single .calendar-date {
    border:none
}
.daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float:none
}
.daterangepicker .ranges {
    width:160px;
    text-align:left;
    margin:4px
}
.daterangepicker .ranges .range_inputs>div {
    float:left
}
.daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-left:11px
}
.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
    float:left;
    margin:4px
}
.daterangepicker .icon {
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align:middle
}
/** End daterangepicker */

.form-check-input:disabled{
    opacity: 1;
}

table td{
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a3a2a2;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #636262;
}
.nav-align-top .nav-tabs .nav-link.active{
    background: #a5dbd5;
}
.tab-content .form-group{
    margin-bottom: 10px;
}
/*.modal-backdrop {*/
/*    z-index: 1;*/
/*}*/

/* Absolute Center Spinner */
.loading {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1100;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgb(110 110 110 / 29%), rgb(112 111 111 / 34%));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#hight-schools-show {
    display: none;
}