﻿::-webkit-scrollbar {
    width: 8px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #f6f6f8 !important;
    overflow: auto;
}

.clearfix {
    clear: both;
}

p {
    line-height: 25px;
}

a {
    color: #031e6d;
}

ul,
li,
ol {
    list-style-type: none;
}

.font-11 {
    font-size: 11px !important;
}

.fb-page,
.fb-page iframe[style],
.fb-page span {
    width: 100% !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-48 {
    font-size: 48px !important;
}

.w-20 {
    width: 20% !important;
}

.w-80 {
    width: 80% !important;
}

.main-color {
    color: #031e6d !important;
}

.bg-intro-1 {
    background: #f68701;
}

.btn-intro-1,
.btn-intro-3,
.btn-intro-4 {
    background: #FF5722;
    padding: 6px 40px;
}

.btn-intro-2 {
    background: #2196F3;
    padding: 6px 40px;
}

.bg-intro-2 {
    background: #031e6d;
}

/*.btn-intro-2 {*/
/*    background: #1dc1d9;*/
/*}*/

.bg-intro-3 {
    background: #f68701;
}

.intro-company {
    background: #fff;
}

/*.bg-intro-4 {*/
/*    background: #2f79d5;*/
/*}*/

/*.btn-intro-4 {*/
/*    background: #1a46ab;*/
/*}*/
#menu {
    background: #fff;
}

#header {
    height: 40px;
    background: #031e6d;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.right-header {
    text-align: right;
}

.left-header span {
    color: #fff;
}

#banner {
    /*background: url("../images/banner.png");*/
    width: 100%;
    /*min-height: 417px;*/
    /*background-size: cover;*/
}

.intro-item {
    top: 0px;
}

.intro-content .selected-table {
    /*text-decoration: underline;*/
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

#event {
    background-color: #f6f6f7bd;
}

.btn-detail-event {
    background: #031e6d;
}

.intro-item .rounded {
    border-radius: 2.55rem !important;
}

#ads .img-ads {
    width: 756px;
}

#ads .container {
    padding: 0 7px;
}

#ads img {
    width: 100%;
    height: auto;
}

#honors {
    background: #f6f6f7bd;
    width: 100%;
    /*min-height: 850px;*/
    background-size: cover;
}

.home-content .top-box .row .top-box-item {
    padding: 0 7px;
    z-index: 1;
}

.top-title {
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    background: #f68701;
    color: #fff;
    text-align: center;
    padding: 11px 10px 11px 10px;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0;
}

.top-inner {
    background: #fff;
    border-radius: 0;
    /*box-shadow: 0 2px 0 #bbb;*/
}

.tab-header {
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    background: #f3f3f3;
}

.tab-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab-header li {
    float: left;
    position: relative;
}

.width-50 {
    width: 33.3% !important;
}

.width-25 {
    width: 24% !important;
}

.width-28 {
    width: 28% !important;
}

.tab-header li a.active {
    color: #364859;
    position: relative;
    background: #fff;
    font-weight: bold;
}

.tab-header li a {
    color: #0056b3;
    padding: 14px 0px 9px 0px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #e4e4e4;
    font-size: 12px;
}

.tab-header li a.active::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #fff;
}

.statistical-number p {
    color: #fff;
}

.line-yellow {
    width: 60px;
    height: 4px;
    background: #f68701;
    display: inline-block;
}

.content-statistical .rank-number {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 4px;
    border: solid 1px #f68701;
    color: #f68701;
    font-weight: bold;
}

.search-list {
    text-align: right;
}

.search-statistical button {
    color: #1a46ab;
    font-weight: bold;
}

.search-statistical button:hover {
    color: #1a46ab;
    font-weight: bold;
}

.search-statistical a {
    color: #fff;
    background: transparent;
    border: 1px solid #ccc;
}

.nav-item a {
    font-size: 16px;
    text-transform: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#lib,
#ads {
    background: #fff !important;
}

#news {
    background-color: #f6f6f7;
}

.img-paper-item {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.img-paper-item img {
    width: 100%;
    max-height: 220px;
}

#footer {
    background: #031e6d;
}

.menu-footer p {
    border-bottom: solid 1px #373737;
}

#footer-end {
    display: none;
    background: #111111;
}

.social-footer {
    text-align: right;
}

.timeline article {
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.timeline .title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.timeline .thumb {
    float: left;
    margin: 5px 10px 0 0;
}

.timeline a {
    color: #031e6d;
}

.timeline .meta {
    margin-bottom: 3px;
    margin-top: 5px;
}

time .fa {
    margin-right: 4px;
}

.icon-clock:before {
    content: "\e081";
}

.fa.fa-angle-double-right,
.fa.fa-home {
    padding: 0 5px;
}

.summary {
    color: #1d1d1d;
    line-height: 23px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb {
    padding-left: 0px !important;
    background: none !important;
}

.site-banner {
    display: none;
    //background: url(../images/tin-tuc.png);
    width: 100%;
    text-align: center;
    min-height: 180px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#content .container {
    background: #fff;
    margin-top: 5px;
}

.pagination .active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background: #333;
}

.pagination li a {
    line-height: 25px;
    float: left;
    padding: 0 10px;
    height: 24px;
    margin-right: 3px;
    background-color: #f1f1f1;
    text-align: center;
}

.pagination .active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background: #333;
}

.nav-right {
    background: #fff;
}

.nav-right h3 {
    text-transform: uppercase;
    font-size: 15px;
    background: #031e6d;
    padding: 8px 10px;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-right ul {
    padding-left: 20px;
}

.nav-right ul li {
    padding: 5px 0;
    text-transform: uppercase;
}

.content-competition {
    padding: 0 10px;
}

label {
    display: inline-block;
    margin-bottom: .1rem;
}

select.form-control[multiple],
select.form-control[size] {
    height: 100px !important;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #999999;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
}


@media screen and (max-width: 991px) {
    #header {
        display: inline-table;
        font-size: 13px;
    }

    .right-header {
        text-align: center;
    }

    .intro-item {
        top: unset;
        margin-top: 2rem;
    }

    #ads .img-ads {
        width: unset;
    }

    .search-list {
        text-align: center;
        padding-bottom: 1rem;
    }

    .search-result {
        text-align: center;
    }

    .copy-right {
        text-align: center;
    }

    .social-footer {
        text-align: center;
    }

    .news-edu {
        margin-top: 1rem;
    }

    #event img,
    #lib img {
        display: none;
    }

    #honors .col-mobile {
        width: 50% !important;
    }

    #honors .col-mobile .p-5 {
        padding: 0.5rem 0rem !important;
    }

    .navbar-light .navbar-toggler {
        position: absolute;
        right: 0;
        top: 7px;
    }

}

/*.dropdown-toggle::after{*/
/*    color: #fff;*/
/*}*/

.title_detail {
    font-size: 20px;
}

.des_news {
    font-weight: bold;
}

.news-hot {
    padding: 0 8px !important;
}

.news-hot li a:hover {
    text-decoration: none;
}

.news-hot li {
    text-transform: none !important;
    border-bottom: 1px dotted #ccc;
}

.news_new {
    color: #0f0f0f;
}

.contact-icon .fa {
    font-size: 20px;
}

.contact-icon a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.a {
    position: relative;
    color: #000000;
    display: inline-block;
}

.label-success {
    background-color: #5cb85c;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.label-primary {
    background-color: #337ab7;
}

#lib .table td,
.table th {
    border-top: none;
    font-weight: bold;
}

#lib .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

#lib .table td {
    color: #031e6d;
}

.province a {
    background: #09a8e0;
    padding: 5px 25px;
    color: #fff;
}

.navbar-brand {
    padding: 0 0 3px 0;
}

.navbar-brand img {
    width: 280px;
}

.footer-1 img {
    /*width: 50%;*/
}

.text-red {
    color: #ff311c;
}

.navbar-light {
    padding: 0 !important;
}

.img_adv img {
    width: 100%;
}

.home-content .top-box-item {
    padding: 0 7px;
    z-index: 1;
}

.top-inner .top-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-inner .top-list {
    padding: 0 20px 15px 20px;
}

.top-inner .top-list ul li {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #f2f4f5;
}

.top-inner .top-list ul li:nth-child(1) .top-stt {
    background: #e50000;
}

.top-inner .top-list ul li:nth-child(2) .top-stt {
    background: #e8a40b;
}

.top-inner .top-list ul li:nth-child(3) .top-stt {
    background: #e8a40b;
}

.top-inner .top-list ul li .top-stt {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    background: #2095dc;
    color: #fff;
    line-height: 36px;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}

.top-inner .top-list ul li .top-address {
    font-size: 13px;
    color: #0082d0;
    font-family: Roboto;
    font-weight: bold;
    line-height: 0;
}

.top-inner .top-list ul li .top-count {
    font-size: 14px;
    line-height: 1.1;
}

.top-inner .top-list ul li .top-count span {
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
}

.tab:not(:first-child) {
    display: none;
}

.news-left .news-inner {
    /*padding: 10px 0px;*/
    min-height: 347px;
}

.news-left .news-inner .post-item:first-child {
    padding: 0 0 0px 0;
}

.news-left .news-inner .post-item {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #f2f4f5;
}

.news-left .news-inner img {
    max-width: 80px !important;
}

.news-left .news-inner img {
    float: left;
    margin-right: 15px;
    background: #fff;
    padding: 1px;
    border: 1px solid #e1e5e9;
}

.news-left .news-inner .post-item:first-child .post-title {
    margin-bottom: 10px;
}

.news-left .post-title {
    font-size: 17px;
    font-family: Roboto;
    margin-bottom: 5px;
    line-height: 1.4;
}

.news-left .post-date {
    font-size: 11.5px;
    color: #999;
}

#lib .box-title {
    padding: 0 7px;
}

.news-title {
    font-family: Roboto;
    font-size: 14px;
    color: #fff;
    padding: 11px 10px 11px 10px;
    margin: 0;
    /*background: url(../images/icon-tin-nong.png) no-repeat left 10px center #049ace;*/
    border-radius: 0;
    text-transform: uppercase;
}

.people-list {
    overflow-y: scroll;
    max-height: 370px;
    height: 366px;
}

.people-list ul li .top-count span {
    font-size: 14px !important;
}

.people-list ul li .top-address {
    font-size: 12px !important;
}

.people-list ul li {
    padding: 10px 0 0 0 !important;
}

.people-list::-webkit-scrollbar {
    width: 4px;
    height: 2em
}

.people-list::-webkit-scrollbar-button {
    background: #ccc
}

.people-list::-webkit-scrollbar-track-piece {
    background: #d8d5d5
}

.people-list::-webkit-scrollbar-thumb {
    background: #eee
}

â€‹ #owl-address ul li {
    display: block;
    width: 100%;
    height: auto;
}

#owl-address .item {
    border-right: 1px solid #ccc;
    padding: 7px 0;
}

#owl-address .item.active {
    background: #fff;
    font-weight: bold;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    /*height: 400px;*/
}

.showContent {
    line-height: 1em;
    height: auto;
}

a.label:hover {
    color: #fff;
}

#owl-address,
.owl-nav {
    position: relative;
}

#owl-address .owl-nav .owl-prev {
    top: -28px;
    position: absolute;
    left: 8px;
}

#owl-address .owl-nav .owl-next {
    right: 8px;
    position: absolute;
    top: -28px;
}

.select2 {
    width: 100% !important;
}

@media screen and (max-width: 480px) {
    .width-25 {
        width: 22% !important;
    }

    .width-28 {
        width: 33% !important;
    }
}

.address-list {
    padding: 0 0px !important;
}

.address-list {
    height: 375px;
}

.scroll_place {
    overflow-y: scroll;
    height: 400px;
    max-height: 400px;
    position: relative;
    left: 15px;
}

.address_place::-webkit-scrollbar,
.scroll_place::-webkit-scrollbar {
    width: 4px;
    height: 2em
}

.address_place::-webkit-scrollbar-button,
.scroll_place::-webkit-scrollbar-button {
    background: #ccc
}

.address_place::-webkit-scrollbar-track-piece,
.scroll_place::-webkit-scrollbar-track-piece {
    background: #d8d5d5
}

.address_place::-webkit-scrollbar-thumb,
.scroll_place::-webkit-scrollbar-thumb {
    background: #eee
}

.form-control {
    color: #000 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000 !important;
}

.content-list .timeline {
    padding-bottom: 25px;
}

.account a.dropdown-item {
    height: 30px;
    line-height: 22px;
}

.footer-padding,
#lib .box-title {
    padding: 0 7px;
}

@media screen and (max-width: 480px) {
    .video-home {
        margin-top: 10px !important;
        padding-top: 10px !important;
    }

    iframe {
        width: 100% !important;
    }

    .content_news img {
        width: 100% !important;
        height: auto !important;
    }

    #header .left-header {
        font-size: 11px;
    }

    .content-list .timeline {
        margin-bottom: 15px;
    }

    .footer-padding,
    #lib .box-title {
        padding: 0 15px;
    }
}

.info_parent {
    display: none;
}

.content_news img {
    width: 100%;
}

.contact-info,
.contact-info a {
    color: #fff;
}




//Bài thi
.question-list {
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #2e66ad !important;
    border-radius: 8px;
}

.exam-right-info ul {
    padding: 0 5px;
    max-height: 250px;
    overflow: auto;
}

.exam-right-info li {
    display: inline-block;
}

.exam-right-info ul li a {
    font-size: 18px;
    color: #757677;
    background: #f0efef;
    width: 38px;
    height: 38px;
    display: inline-block;
    margin: 5px 4px;
    border-radius: 54%;
    text-align: center;
    padding: 6px 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.exam-right-info ul li.active a {
    background: #5aa2fb;
    color: #fff;
    border: #5aa2fb;
}

.exam-right-info {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.exam-right-info .title-list-q {
    font-size: 18px;
    background: #e2e2e2;
    padding: 10px 0 6px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 6px;
}

.topbar-exam p {
    display: flex;
    justify-content: space-between;
}

.exam-right-content .topbar-exam {
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #f68701;
    padding: 10px 20px 3px;
    margin-top: 25px;
    color: #464646;
}

.exam-right-content .topbar-exam-detail {
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #f68701;
    padding: 10px 20px 3px;
    margin-top: 25px;
    color: #000;
}

.topbar-exam-detail p {
    display: flex;
    justify-content: space-between;
}

.submit-exam {
    border: none;
    color: #fff !important;
    background-image: linear-gradient(#031e6d,#031e6d);
    padding: 8px 34px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
}

.content-answer-question {
    margin-top: 15px;

}

.content-answer-question ul li {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
}

.content-answer-question ul li .answer {
    display: flex;
    align-items: center;
}

.content-answer-question ul li .answer-label {
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    margin-right: 10px;
}

.content-answer-question ul li.active .answer-label,
.content-answer-question ul li:hover .answer-label {
    border: 1px solid #031e6d;
    color: #fff;
    background: #031e6d;
}

.white-spread-upper {
    width: 1px;
    display: inline-block;
    height: 16px;
    margin: 0 10px -1px 15px;
    background: #fff;
}


.content-answer-question-detail {
    margin-top: 15px;

}

.content-answer-question-detail ul li {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
}

.content-answer-question-detail ul li .answer {
    display: flex;
    align-items: center;
}

.content-answer-question-detail ul li .answer-label {
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    margin-right: 10px;
}

.content-answer-question-detail ul li.active .answer-label {
    border: 1px solid #031e6d;
    color: #fff;
    background: #031e6d;
}

.content-answer-question-detail ul li.active-true .answer-label, .content-answer-question ul li.active-true .answer-label  {
    border: 1px solid #031e6d !important;
    color: #fff !important;
    background: #031e6d !important;
}

.topbar-exam-detail li.item a {   
    font-size: 18px;
    color: #757677;
    background: #f0efef;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px 4px;
    margin-right: 10px;
    border-radius: 54%;
    text-align: center;
    padding: 6px 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
}
.topbar-exam-detail li.item {   
    align-items: center;
    display: flex;
}

li.item.active-true a {
    // border: 1px solid #088924 !important;
    // color: #fff !important;
    // background: #28a745 !important;    

    border: 1px solid #02195c !important;
    color: #fff !important;
    background: #031e6d !important;
}
.topbar-exam-detail span{
    font-size: 16px;
}

.content-answer-question-detail ul li.active-false .answer-label, .content-answer-question ul li.active-false .answer-label {
    border: 1px solid #c97005;
    color: #fff;
    background: #f68701;
}

li.item.active-false a {
    // border: 1px solid #7e0505;
    // color: #fff;
    // background: #a72828;

    border: 1px solid #c97005;
    color: #fff;
    background: #f68701;
    
}

.title-tu-luan {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.content-tu-luan {
    padding: 10px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.content-tu-luan span {
    font-family: 'Open Sans', sans-serif !important;
}

.list-ask-tu-luan {
    padding: 10px;
}

.title-exam{
    padding:0 20px;
    text-align: justify;
}
// .border-table{
//     table {
//         border-collapse: collapse;
//         border-radius: 1em;
//         overflow: hidden;
//       }
      
//       th, td {
//         padding: 1em;
//         background: #ddd;
//         border-bottom: 2px solid white; 
//       }
// }
/* Scollbar */
::-webkit-scrollbar {
    width: 5px;
    /*height: 100px;*/
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    .content-answer-question ul{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .question-list img{
        max-width: 100%;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .content-answer-question ul{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .question-list img{
        max-width: 100%;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .content-answer-question ul{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .question-list img{
        max-width: 100%;
    }
}
.btn-success{
    background-color: #031e6d;
    border-color: #1f2d3d;
}

.btn-success.focus, .btn-success:focus, .btn-success:hover,
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle
 {
    color: #fff;
    background-color: #031e6d;
    border-color: #1f2d3d;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #031e6d;
    border-color: #1f2d3d;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #031e6d;
    border-color: #031e6d;
}
.question-list .title-exam, .question-list .content-answer-question ul li .answer-content, .content-tu-luan span, .question-list p{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

